<center>
    <form name="loginForm" ng-controller="LoginController" ng-submit="login(username, isChild)" novalidate>
        <!--<div class="btn-group">-->
            <!--<label class="btn btn-primary" ng-model="isChild" ng-click="updateChild()" uncheckable>Child</label>-->
            <!--<label class="btn btn-primary" ng-model="isChild" ng-click="updateChild()" uncheckable>Parent</label>-->
        <!--</div>-->

        <label for="username">Username:</label>
        <input type="text" id="username" ng-model="username">
        <button type="submit">Login</button>
    </form>
    </br>
    </br>
    </br>
    </br>
</center>